
.idea/workspace.xml
.vs/CSGReaperWwisePlugin/xs/UserPrefs.xml
*.xcbuild
reaper_wwise_csg.xcodeproj/*
reaper_wwise_csg.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
reaper_wwise_csg.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/XCBuildData/BuildDescriptionCacheIndex-15486ff459d1ea551331c2eaf9902797
build/*
reaper_wwise_csg.xcodeproj/project.xcworkspace/xcuserdata/simongumbleton.xcuserdatad/UserInterfaceState.xcuserstate
reaper_wwise_csg.xcodeproj/xcuserdata/simongumbleton.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
reaper_wwise_csg.xcodeproj/xcuserdata/simongumbleton.xcuserdatad/xcschemes/xcschememanagement.plist
.vs/*
Intermidiate/*
csg_reaper_wwise_x64.pdb
CSGReaperWwisePlugin.vcxproj.user
reaper_wwise_csg_x64.pdb
